h1{
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
    font-size: 50px;
    color:rgb(0, 0, 0);
}

button{
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
    font-size: 30px;
    transition-duration: 0.4s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}